---
import Base from "~/layouts/Base.astro";
import { Search } from "~/components/Search";
import { Clipboard } from "~/components/Clipboard";
---

<Base
	title="Co-author Generator"
	description="Generate co-author messages to give credit to your contributors!"
	image="/coauthor-og.webp"
	imageAlt="A banner with the text 'Co-author Generator' and a description of the tool"
>
	<main class="flex flex-1 flex-col justify-center items-center">
		<h1 class="text-4xl sm:text-6xl w-full text-center font-serif pb-14">Co-author Generator</h1>
		<div class="bg-gray-100 border w-full sm:p-10 p-6">
			<Search client:load />
			<Clipboard client:idle />
		</div>
	</main>
</Base>
